.large-hero {
    position: relative;


    /*We have used this '&' here to achive nesting in '_large-hero' css and at the same time to follow clear BEM rules in our 'temp/styles/styles.css' file. so that 'temp/styles/styles.css' css also looks nice. 
    Refer lecture: what is BEM(14)*/
    &__text-content {
        /*position the text in top left corner of the image: top:0; left:0;
        position it vertically centered: top:50%; transform: translateY(-50%);
        position:absolute is common in both the cases*/
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        /*Now lets center it horizontally*/
        width: 100%;
        text-align: center;
    }


    &__title {
        /*font-weight: To change the boldness of text*/
        font-weight: 300;
        color: #2f5572;
        /*The rem unit is relative to the root—or the html—element. That means that we can define a single font size on the html element and define all rem units to be a percentage of that.
        Relative to the font-size of the root element (2rem means 2 times the size of the root element <html>)*/
        font-size: 4.8rem;
    }


    &__subtitle {
        font-weight: 300;
        color: #2f5572;
        font-size: 2.9rem;
    }
}